<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GrandParade.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B22A4F2429B7D45500326B97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B22A4F3529B7D45600326B97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B22A4F3F29B7D45600326B97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
